<h2 mat-dialog-title>
  Create New Contact
  <mat-hint>Scroll to complete.</mat-hint>
</h2>

<mat-dialog-content>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form class="contact-form" *ngIf="!isLoading">

    <div *ngFor="let i of formData">

      <div [ngSwitch]="i.type">

        <app-input-text
          *ngSwitchDefault
          class="contact-input"
          [name]="i.name"
          [placeholder]="i.placeholder"
          [validation]="i.validation"
          [(state)]="i.state"
          [(value)]="i.value"></app-input-text>

        <app-input-phone
          *ngSwitchCase="'phone'"
          class="contact-input"
          [name]="i.name"
          [placeholder]="i.placeholder"
          [validation]="i.validation"
          [(state)]="i.state"
          [(value)]="i.value"></app-input-phone>

        <app-input-email
          *ngSwitchCase="'email'"
          class="contact-input"
          [name]="i.name"
          [placeholder]="i.placeholder"
          [validation]="i.validation"
          [(state)]="i.state"
          [(value)]="i.value"></app-input-email>

      </div>

    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button
    *ngIf="!isLoading"
    mat-button mat-dialog-close>Cancel</button>

  <button
    mat-raised-button
    *ngIf="!isLoading"
    [disabled]="!formValid()"
    (click)="createContact()"
    color="primary">Create</button>

</mat-dialog-actions>
