<h2 mat-dialog-title>
  Create New Contact
  <mat-hint>Scroll to complete.</mat-hint>
</h2>

<mat-dialog-content>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form
    id="contact-form"
    class="contact-form"
    *ngIf="!isLoading">

      <app-input-text
        *ngFor="let i of formData"
        class="contact-input"
        [config]="i.config"
        [autocomplete]="i.autocomplete"
        [(state)]="i.state"
        [(value)]="i.value"></app-input-text>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button
    *ngIf="!isLoading"
    mat-button mat-dialog-close>Cancel</button>

  <button
    mat-raised-button
    *ngIf="!isLoading"
    id="create-contact-submit"
    [disabled]="!formValid()"
    (click)="createContact()"
    color="primary">Create</button>

</mat-dialog-actions>
