.contact-form {
  mat-form-field {
    display: block;
    margin-bottom: 0.7em;
  }
}

.mat-dialog-content {
  .mat-spinner {
    margin: 100px auto;
  }
}

.mat-dialog-title {
  .mat-hint {
    display: block;
    font-size: 12px;
  }
}
