<mat-form-field class="full-width">

  <mat-label>{{name}}</mat-label>

  <input type="text"
    [formControl]="con"
    matInput
    [matAutocomplete]="auto"
    minlength="{{validation.minLength}}"
    maxlength="{{validation.maxLength}}"
    placeholder="{{placeholder}}" />

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of autocompleteFilterOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>

  <mat-hint *ngIf="validation.minLength || validation.maxLength" align="end">{{value.length}} / {{validation.minLength}}</mat-hint>

  <mat-error *ngIf="con.hasError('required')">
    {{name.toLowerCase()}} is <strong>required</strong>
  </mat-error>

  <mat-error *ngIf="con.hasError('pattern') && validation.numbersOnly && !con.hasError('required')">
    only numerical values allowed
  </mat-error>

  <mat-error *ngIf="con.hasError('minlength') && !con.hasError('pattern') && !con.hasError('required')">
    the {{name.toLowerCase()}} is too short
  </mat-error>

  <mat-error *ngIf="con.hasError('maxlength') && !con.hasError('pattern') && !con.hasError('required')">
    the {{name.toLowerCase()}} is too long
  </mat-error>

</mat-form-field>
