<mat-form-field class="full-width">

  <!-- INPUT NAME -->
  <mat-label>{{config?.name}}</mat-label>

  <!-- PREFIX -->
  <span matPrefix *ngIf="format('phone')">+1 &nbsp;</span>

  <!-- MAIN TEXT INPUT -->
  <input
    [formControl]="con"
    matInput
    [id]="config?.id"
    [matAutocomplete]="auto"
    [minlength]="config?.validation?.minLength"
    [maxlength]="config?.validation?.maxLength"
    [placeholder]="config?.placeholder" />

  <!-- SUFFIX -->
  <mat-icon matSuffix *ngIf="format('email')">alternate_email</mat-icon>
  <mat-icon matSuffix *ngIf="format('phone')">perm_phone_msg</mat-icon>

  <!-- AUTOCOMPLETE -->
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of autocompleteFilterOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>

  <!-- LENGTH HINT -->
  <mat-hint *ngIf="config?.charCount" align="end">
    {{value.length}} / {{config.charCount}}
  </mat-hint>

  <!-- ERRORS -->
  <mat-error *ngIf="con.hasError('required')">
    {{config?.name || 'this value' | lowercase}} is <strong>required</strong>
  </mat-error>

  <mat-error *ngIf="con.hasError('pattern') && config?.validation?.numbersOnly && !con.hasError('required')">
    only numerical values allowed
  </mat-error>

  <mat-error *ngIf="con.hasError('minlength') && !con.hasError('pattern') && !con.hasError('required')">
    your input is too short
  </mat-error>

  <mat-error *ngIf="con.hasError('maxlength') && !con.hasError('pattern') && !con.hasError('required')">
    your input is too long
  </mat-error>

  <mat-error *ngIf="con.hasError('email') && !con.hasError('required')">
    please enter a valid email address
  </mat-error>

</mat-form-field>
