<div class="contact-details">
  <div class="detail">
    <div class="icon">
      <i class="material-icons">email</i>
    </div>
    <div class="info">
      <div class="info-value">
        {{contact.email}}
      </div>
      <div class="info-label">
        Email
      </div>
    </div>
  </div>
  <div class="detail">
    <div class="icon">
      <i class="material-icons">location_on</i>
    </div>
    <div class="info">
      <div class="info-value">
        {{contact.address}}
      </div>
      <div class="info-label">
        Address
      </div>
    </div>
</div>
