@import '../../../scss/variables';

.contacts {
  color: $dark-primary-text;

  .contacts-loader {
    width: 30vw;
    margin: 30vh auto;

    .mat-spinner {
      margin: 0 auto;
    }
  }

  table.mat-table {
    width: 100%;

    th.mat-header-cell,
    td.mat-cell {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    th.mat-header-cell {
      font-size: 1.4em;
    }

    .mat-column-phone,
    .mat-column-more {
      text-align: center;
    }

    .mat-column-more {
      .show-more {
        position: relative;
        top: 5px;
        color: lighten($color: $primary, $amount: 30);
      }
    }

    .mat-column-phone {
      a {
        color: $accent;
      }
    }

    .contact-primary {
      border-bottom-width: 0;
      cursor: pointer;

      &:hover {
        background-color: darken($color: white, $amount: 1);
      }

      .mat-cell {
        border-bottom-width: 0;
      }
    }

    .expandable-row {
      height: 0px !important;

      div {
        overflow: hidden;
      }

      .mat-cell.mat-column-expandable {
        background-color: lighten($color: $primary, $amount: 50);

        .contact-expandable {
          overflow: hidden;
          display: flex;
        }
      }
    }
  }
}
