<div class="contacts">

  <div class="contacts-loader" *ngIf="!dataLength">

    <mat-spinner color="accent" diameter="50"></mat-spinner>

  </div>

  <table mat-table multiTemplateDataRows [dataSource]="dataSource" *ngIf="dataLength">

    <!-- LOOP THROUGH BASIC COLUMN DEFINITIONS -->
    <app-contact-columns
      *ngFor="let config of columns"
      [mobile]="viewport.mobile()"
      [column]="config"></app-contact-columns>

    <!-- DEFINE A TABLE WIDE COLUMN (which will be expandable) -->
    <ng-container matColumnDef="expandable">

      <td mat-cell *matCellDef="let contact" [attr.colspan]="displayedColumns.length">

        <div class="contact-expandable" [@expand]="contact === expanded ? 'collapsed' : 'expanded'">

          <app-contact-details [contact]="contact"></app-contact-details>

        </div>

      </td>

    </ng-container>

    <!-- DEFINE ROW TEMPLATES -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
      class="contact-primary"
      [class.contact-expanded]="expanded === row"
      (click)="expanded = expanded === row ? null : row"
      mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="expandable-row" mat-row *matRowDef="let row; columns: ['expandable'];"></tr>

  </table>

  <mat-paginator [length]="dataLength" [pageSize]="10" [pageIndex]="0"></mat-paginator>

</div>
