@import 'src/scss/variables';

th.mat-header-cell,
td.mat-cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

th.mat-header-cell {
  font-size: 1.4em;
}

.mat-column-phone,
.mat-column-more {
  text-align: center;
}

.mat-column-more {
  .show-more {
    position: relative;
    top: 5px;
    color: lighten($color: $primary, $amount: 30);
  }
}

.mat-cell {
  border-bottom-width: 0;
}
