.detail {
  margin-bottom: 1em;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .icon {
    color: lighten($color: #000000, $amount: 30);
    margin-right: .5em;
  }

  .info {
    .info-value {
      font-size: 15px;
    }

    .info-label {
      font-size: 12px;
      color: lighten($color: black, $amount: 50);
    }
  }
}
